.ctlg-m-ctr {
  margin: 10px auto;
  width: 80vw;
}
.ctlg-ctr {
  display: flex;
}
.ctlg-itm-ctr {
  flex: 4;
  margin: 0px 8px 0px 0px;
  background-color: red;
}
.ctlg-sort {
  flex: 1;
  margin: 0px 0px 0px 8px;
  background-color: green;
}
