.a-search {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}
.ctlg-m-ctr {
  margin: 10px auto;
  width: 80vw;
}
.ctlg-ctr {
  display: flex;
}
.ctlg-nav-panel {
  padding: 10px;
}
.ctlg-itm-ctr {
  flex: 5;
  margin: 0px 8px 0px 0px;
  background-color: white;
  border-radius: 5px;
}
.ctlg-sort {
  flex: 1;
  margin: 0px 0px 0px 8px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  height: fit-content;
}
.ctlg-sort > form {
  border-bottom: 1px solid #c3c3c3;
  padding: 5px 0px;
}
.ctlg-sort > h3 {
  padding: 5px 0px 0px 15px;
}
.ctlg-sort > form > .sort-list {
  padding-left: 25px;
  list-style-type: none;
}
.display-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}
.display-price > input {
  width: 75px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
}
.input-field {
  padding: 5px 10px;
}
.input-field > label {
  padding-left: 5px;
}
.sort-btn {
  width: 75%;
  margin: 5px 25px;
  padding: 5px 0px;
  box-shadow: 3px 3px 5px #e2e2e2;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(
    to right,
    rgba(250, 164, 6, 0.9),
    rgba(250, 164, 6, 0.7)
  );
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sort-btn:hover {
  background: linear-gradient(
    to left,
    rgba(250, 164, 6, 0.9),
    rgba(250, 164, 6, 0.7)
  );
  transform: scale(1.04);
}

/* price slider*/
.price-form {
  position: relative;
  width: 100%;
}
.price-slide {
  margin: 10px 0px;
  width: 100%;
}
.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
  background-color: black;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: orange;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 25px;
  height: 25px;
  background-color: orange;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(238, 156, 4, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.hover {
  box-shadow: 0px 0px 0px 5px rgba(238, 156, 4, 0.2);
}
.slider > .thumb.active {
  box-shadow: 0px 0px 0px 10px rgba(238, 156, 4, 0.3);
}
.slider > .thumb.left {
  left: 0;
  transform: translate(-15px, -8px);
}
.slider > .thumb.right {
  right: 0;
  transform: translate(10px, -8px);
}
input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  -webkit-appearance: none;
  background-color: orange;
}

/* end of price slider*/

/* one item*/
.a-t-c {
  background-color: orange;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  color: white;
  border-radius: 7px;
  transform: scale(0);
  transition: all 0.5s ease-in-out 200ms;
  padding: 5px 25px;
  margin-top: 5px;
}
/* .a-t-c:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 5px #a3a3a3;
} */

.itms-ctr {
  padding: 10px 30px 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
  position: relative;
}
.itm-searched {
  /* cursor: alias; */
  position: relative;
  border-radius: 5px;
  width: 240px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.1s ease-in-out;
  border: 1px solid #efefef;
  box-shadow: 3px 3px 4px #c3c3c3;
}
.itm-searched:hover .a-t-c {
  transform: scale(1) translateY(-5px);
  box-shadow: 2px 4px 5px #a3a3a3;
}
.itm-s-img {
  width: 95%;
  margin: 2px auto;
  height: 50%;
  padding: 2px;
}
.itm-s-img > img {
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
}
.itm-searched:hover .itm-s-img > img {
  transform: scale(1);
}
.itm-s-dtl {
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 550;
}
.price-current {
  font-size: 20px;
}
.price-prev {
  font-size: 16px;
  opacity: 0.6;
  text-decoration: line-through;
}
.a-s-discount {
  width: 45px;
  opacity: 0.9;
  font-size: 14px;
  background-color: orange;
  border-radius: 5px 0px 6px 0px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.location > .fas {
  margin-left: 3px;
  color: orange;
}
.delivery-by > .fab {
  color: orange;
}
/* one item end*/
/*no data */
.no-itms {
  /* background-color: #fff; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.no-itms > span {
  font-size: 20px;
}
#ctlg-rq-btn {
  width: 45%;
  margin: 5px 25px;
  padding: 15px 0px;
  font-size: 20px;
  box-shadow: 3px 3px 5px #e2e2e2;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  background: linear-gradient(
    to right,
    rgba(250, 164, 6, 0.9),
    rgba(250, 164, 6, 0.7)
  );
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#ctlg-rq-btn:hover {
  background: linear-gradient(
    to left,
    rgba(250, 164, 6, 0.9),
    rgba(250, 164, 6, 0.7)
  );
  transform: scale(1.04);
}
/*no data end*/

@media screen and (max-width: 768px) {
  .ctlg-ctr {
    flex-direction: column;
    justify-content: space-around;
  }
  .search-input {
    display: none;
  }
  .ctlg-m-ctr {
    margin: 10px auto;
    width: 95vw;
  }
  .a-t-c {
    transform: scale(1);
    padding: 5px;
    width: 100px;
    font-size: 14px;
  }
  .a-t-c > img {
    display: none;
  }
  .itm-searched {
    width: 150px;
    height: fit-content;
  }
  .itms-ctr {
    padding: 10px 30px 10px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
  .ctlg-sort {
    flex: 1;
    margin: 10px 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
  }
  #ctlg-rq-btn {
    width: 60%;
  }
}
