@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --mainColor: #e0c70c;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e1e1e1;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #eee;
  }
}
